.nav {
    background-color: #414141;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    font-family: 'Rubik', sans-serif;
 }

.containerLinks {
    height: 140%;
} 

.linkContainer {
    display: inline-flex;
    height: 50px;
    text-decoration: none;
    color: #12e6c8;
    background-color: #000000;
    align-items: center;
    transition: transform 0.1s ease;
    border-radius: 13px;
    margin: 10px;
} 

.linkContainer:hover {
    background-color: #a287f4;
    transform: scale(1.05);
  }

.linkText {
    padding: 0 20px;
    cursor: pointer;
}

.addButton {
    cursor: pointer;
    height: 100%;
    background: #12e6c8;
    color: #000000;
    padding: 14px;
    border-radius: 13px;
    font-size: inherit;
    transition: transform 0.1s ease;
    margin: 10px;
}

.addButton:hover {
    transform: scale(1.05);
    background-color: #a287f4;
}

.ButtonText {
    padding: 0 20px;
    cursor: pointer;
}