.nav {
    background-color: red;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    font-family: 'Rubik', sans-serif;
 }

.containerLinks {
    height: 100%;
} 

.linkContainer {
    display: inline-flex;
    height: 50px;
    text-decoration: none;
    color: white;
    background-color: #333;
    align-items: center;
    transition: 0.3s;
} 

.linkContainer:hover {
    background-color: #111;
  }

.linkText {
    padding: 0 20px;
    cursor: pointer;
}

.addButton {
    cursor: pointer;
    height: 100%;
    background: #2d3b55;
    color: #fff;
    padding: 14px;
    border: none;
    font-size: inherit;
    transition: 0.3s;
}

.addButton:hover {
    background-color: #111;
  }